<%- include("partials/header.ejs") %>
    <% if(locals.AllPosts){ %>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <% AllPosts.forEach(element=> { %>
                        <div class="card yk-cards">
                            <div class="card-header">
                                <div class="card-title"><%= element.title %></div>
                                <div class="card-date"><%= element.date %></div>
                            </div>
                            <div class="card-text">
                                <%= element.text %>
                            </div>
                            <div class="card-actions">
                                <a href="/update/<%= element.id %>"><button class="update" >Update</button></a>
                                <a href="/delete/<%= element.id %>"><button class="delete" >Delete</button></a>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <div class="col-3">
                    <div class="card_2 yk-cards">

                    </div>
                </div>
            </div>
        </div>
        <% } %>



            <%- include("partials/footer.ejs") %>